@model MvcDocs.Models.Search.IndexModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@foreach (var doc in Model.Documents)
{
	<div class="search-result">
		<h3><a href="@Url.Action("View", "Documents", new { product = "example", language = "en", version = "latest", url = doc.Url })">@doc.Title</a></h3>
		<p>@Html.Raw(doc.SnippetHtml) ...</p>
		<small>@doc.Score</small>
	</div>
}