@using MvcDocs

@model IEnumerable<string>

@{
    ViewBag.Title = "Example | Contents";
}

<div id="doc-wrapper">
    <div id="head">
        <h1>Contents</h1>
    </div>
    <div id="doc-content">
        <div id="doc-body">
            <div class="markdown-body">
                <ul>
                    @foreach (var file in Model)
                    {
                        <li><a href="@Url.Action("View", new { product = "example", language = "en", version = "latest", url = file.ToLower() })">@file.FormatTitleForDisplay()</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
