@model dynamic

@{
    ViewBag.Title = "TOC";
}

<div id="doc-wrapper">
    <div id="head">
        <h1>TOC</h1>
    </div>
    <div id="doc-content">
        <div id="doc-body">
            <div class="markdown-body">
                <ul>
                    @foreach (var file in Model)
                    {
                        <li><a href="@Url.Action("View", new { product = "example", language = "en", version = "latest", url = ((string)file).Replace(" ", "-").ToLower() })">@file</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
