@model dynamic

@{
    ViewBag.Title = @Model.Title;
}

<div id="doc-wrapper">
    <div id="head">
        <h1>@Html.Raw(Model.Title)</h1>
    </div>
    <div id="doc-content">
        <div id="doc-body">
            <div class="markdown-body">
                @Html.Raw(@Model.Content)
            </div>
        </div>
    </div>
</div>
