body {
	border: 0px;
	padding: 0px;
	margin: 0px;
    line-height: 1.6;
    color: #333333;
    font: 14px Helvetica, arial, freesans, clean, sans-serif;
}

h1 {
    font-size: 32px;
}

p {
    margin: 15px;
}

div {
	float: left;
}

#content {
	width: 100%;
}

#header {
	width: 100%;
	background-color: #258cc6;
	padding-top: 8px;
	padding-bottom: 8px;
}

#top-menu {
	margin-right: 4px;
}

#search {
	float: right;
	margin-right: 8px;
}

#search-results .hl {
	background-color: yellow;
	font-weight: bold;
}

#doc-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}

.markdown-body h1 {
    font-size: 28px;
    color: #000;
}

.markdown-body a {
    color: #4183c4;
    text-decoration: none;
}

.markdown-body pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
