@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/styles.css")" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>

                @using (Html.BeginForm("Index", "Search", new { }, FormMethod.Get))
                {
                    <label for="search-box">Search:</label><input id="search-box" name="term" type="text"/>
                }

            @RenderBody()

</body>
</html>
