@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />

	<title>@ViewBag.Title</title>

	<link href="@Url.Content("~/Content/styles.css")" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="root">
		<div id="header">
			<div class="logo logo-full">
				<i class="fa"></i>
				<span class="text"></span>
			</div>

			<div class="search">
				@using (Html.BeginForm("Index", "Search", new { }, FormMethod.Get))
				{
					<input id="search-box" class="miniSearchBox" placeholder="Quick Search" name="term" type="text" />
					<a href="javascript:void(0);" class="submit searchSubmit"><i class="fa fa-search"></i></a>
				}
			</div>
		</div>

		<div id="content">
			@RenderBody()
		</div>

		<div id="footer">
			<div class="logo"><i class="fa"></i><span class="text"></span></div>
		</div>
	</div>

	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('.drop-down-toggle').on("click", function () {
				$('.drop-down-list').slideUp();
				$(this).parent().children('.drop-down-list').slideDown();
			});

			$('html').click(function () {
				$('.drop-down-list').slideUp();
			});

			$('.drop-down-toggle').click(function (event) {
				event.stopPropagation();
			});
		});
	</script>
</body>
</html>